@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.heading {
  margin-bottom: 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 3px 0 #000, -4px 4px 0 #000, -5px 5px 0 #000,
    -6px 6px 0 #000, -7px 7px 0 #000, -8px 8px 0 #000,
    -9px 9px 15px rgba(0, 0, 0, 0.5);
}

.u {
  animation: cycle-u 3s linear infinite;
}
.n {
  animation: cycle-n 3s linear infinite;
}
.o {
  animation: cycle-o 3s linear infinite;
}

@keyframes cycle-u {
  0%,
  100% {
    color: #ff5555;
  }
  33% {
    color: #ffaa00;
  }
  66% {
    color: #55aa55;
  }
}

@keyframes cycle-n {
  0%,
  100% {
    color: #ffaa00;
  }
  33% {
    color: #55aa55;
  }
  66% {
    color: #ff5555;
  }
}

@keyframes cycle-o {
  0%,
  100% {
    color: #55aa55;
  }
  33% {
    color: #ff5555;
  }
  66% {
    color: #ffaa00;
  }
}

@keyframes card-pop {
  0% {
    opacity: 0;
    transform: scale(0.5) translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-card-pop {
  animation: card-pop 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.animation-delay-200 {
  animation-delay: 200ms;
}
.animation-delay-400 {
  animation-delay: 400ms;
}
.animation-delay-600 {
  animation-delay: 600ms;
}

@keyframes pulse {
  50% {
    opacity: 0.8;
    transform: scale(1.05);
  }
}
.animate-pulse {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes deck-draw {
  from {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(-10rem) scale(1);
    opacity: 1;
  }
  to {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%) scale(0.5);
    opacity: 0;
  }
}
.animate-deck-draw {
  animation: deck-draw 0.5s ease-in-out forwards;
}

@keyframes player-play {
  from {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -150%) scale(1);
    opacity: 1;
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(10rem) scale(1);
    opacity: 1;
  }
}
.animate-player-play {
  animation: player-play 0.5s ease-in-out forwards;
}

@keyframes opponent-play {
  from {
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%) scale(0.5);
    opacity: 0;
  }
  to {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(10rem) scale(1);
    opacity: 1;
  }
}
.animate-opponent-play {
  animation: opponent-play 0.5s ease-in-out forwards;
}

@keyframes pulse-glow {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgb(255, 204, 0);
    transform: scale(1.05);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(250, 204, 21, 0.33);
    transform: scale(1);
  }
}
